.Header {
margin: 10px;
text-align: center;
font-size: xx-large;
color: black;
opacity: 100%;
}

.body {
background-color: rgb(108, 18, 253);
}

.card {
    display: flex;
    width: 300px;
    }
    
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
background-color: rgba(101, 6, 255, 0.932);
} 

.Nav {
text-align: center;
font-size: large;
}

.bt { 
display: inline-block;
text-align: center;
color: black;
background-color: rgba(72, 0, 187, 0.596);
box-shadow: darkred;
text-decoration: blue;
border: none;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

button:hover {
color: whitesmoke;
background-color: teal;
}

button:active {
background-color: brown;
}


.Parrafo {
display: flex;
justify-content: flex-start;
font-size: medium;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: left;

}

.Pie {
text-align: center;
justify-content: flex-end;
background-color: rgba(49, 0, 104, 0.527);
padding-top: 250px;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    background-color: rgb(108, 18, 253);
}


